# add vacancy info

In [1]:
import json
import pandas as pd

In [2]:
data = json.load(open("../data/school-info-wrangled.json"))

In [3]:
vacancies = pd.read_csv("../data/vacancies.csv")
translate = json.load(open("../data/data/translationDictionary.json"))

In [4]:
vacancies = json.loads(vacancies.to_json(orient='records'))

In [5]:
vacancies[0]

{'Phase': 'Phase 1A',
 'Vacancies': 170,
 'Applicants': 100,
 'School': 'ANDERSON PRIMARY SCHOOL'}

In [6]:
for vacancy in vacancies:
    try:
        code = translate[vacancy["School"]]["code"][0]
        if "Vacancy" not in data[code].keys():
            data[code]["Vacancy"] = []
        del vacancy["School"]
        data[code]["Vacancy"].append(vacancy)
    except:
        print(code)

1197
1197
1197
1197
1197
1197
1197

# lat lng

In [7]:
csv_data = pd.read_csv("../data/general-information-full.csv", dtype={'code': str})

In [8]:
csv_data.head()

,X1,school_name,url_address,address,postal_code,telephone_no,telephone_no_2,fax_no,fax_no_2,email_address,...,gifted_ind,ip_ind,mothertongue1_code,mothertongue2_code,mothertongue3_code,special_sdp_offered,addr,lon,lat,code
0,1.0,NATIONAL JUNIOR COLLEGE,http://www.nationaljc.moe.edu.sg,37 HILLCREST ROAD,288913.0,64661144,na,64684535,na,NJC@MOE.EDU.SG,...,No,Yes,Chinese,Malay,Tamil,"For the Integrated Programme (Junior High), we...",NATIONAL JUNIOR COLLEGE Singapore 288913,103.804500,1.330476,0701
1,2.0,TEMASEK JUNIOR COLLEGE,http://temasekjc.moe.edu.sg,22 BEDOK SOUTH ROAD,469278.0,64428066,na,64428762,na,TEMASEK_JC@MOE.EDU.SG,...,No,Yes,Chinese,Malay,Tamil,The TJC 6-Year Integrated Programme provides a...,TEMASEK JUNIOR COLLEGE Singapore 469278,103.935535,1.318605,0702
2,3.0,VICTORIA JUNIOR COLLEGE,http://www.victoriajc.moe.edu.sg/,20 MARINE VISTA,449035.0,64485011,na,64438337,na,victoria_jc@moe.edu.sg,...,No,Yes,Chinese,Malay,Tamil,Arts Programme Beyond Borders Programme Highe...,VICTORIA JUNIOR COLLEGE Singapore 449035,103.919388,1.306235,0706
3,4.0,EUNOIA JUNIOR COLLEGE,http://www.eunoiajc.moe.edu.sg,53 MOUNT SINAI ROAD,276880.0,63518388,na,63518399,na,eunoiajc@moe.edu.sg,...,No,Yes,Chinese,Malay,Tamil,Environmental Literacy Programme Leadership Ad...,EUNOIA JUNIOR COLLEGE Singapore 276880,103.836529,1.360811,0714
4,9.0,CATHOLIC JUNIOR COLLEGE,http://www.cjc.edu.sg,129 WHITLEY ROAD,297822.0,62524083,na,62537267,na,catholic_jc@moe.edu.sg,...,No,No,na,na,na,Religious / Ethics Programme Overseas Communit...,CATHOLIC JUNIOR COLLEGE Singapore 297822,103.833967,1.325667,0802

In [9]:
json_codes = data.keys()

In [10]:
csv_data.columns

Index(['X1', 'school_name', 'url_address', 'address', 'postal_code',
       'telephone_no', 'telephone_no_2', 'fax_no', 'fax_no_2', 'email_address',
       'mrt_desc', 'bus_desc', 'principal_name', 'first_vp_name',
       'second_vp_name', 'third_vp_name', 'fourth_vp_name', 'fifth_vp_name',
       'sixth_vp_name', 'visionstatement_desc', 'missionstatement_desc',
       'philosophy_culture_ethos', 'dgp_code', 'zone_code', 'cluster_code',
       'type_code', 'nature_code', 'session_code', 'mainlevel_code', 'sap_ind',
       'autonomous_ind', 'gifted_ind', 'ip_ind', 'mothertongue1_code',
       'mothertongue2_code', 'mothertongue3_code', 'special_sdp_offered',
       'addr', 'lon', 'lat', 'code'],
      dtype='object')

In [11]:
lat_lng = csv_data.loc[csv_data.code.isin(json_codes), ['school_name', 'lon', 'lat', 'mainlevel_code', 'code']].to_json(orient='records')
lat_lng = json.loads(lat_lng)

In [12]:
json.dump(lat_lng, open("../data/map_data.json", "w"))

# level

In [13]:
levels = pd.DataFrame(data.values()).merge(csv_data.loc[:, ['code', 'mainlevel_code']], how='left', on='code').loc[:, ['code', 'mainlevel_code']]
levels = zip(levels.code.to_list(), levels.mainlevel_code.to_list())

In [14]:
levels = dict(levels)

In [15]:
for code, schData in data.items():
    schData["level"] = levels[code]

# skim data

In [16]:
deleteKeys = ["levels", "uen", "logo", "AchievementHistory", "postalCode"]

In [17]:
for code, schData in data.items():
    trimmed = {k:v for k, v in schData.items() if k not in deleteKeys}
    data[code] = trimmed

In [18]:
data['1767'].keys()

dict_keys(['code', 'name', 'website', 'address', 'telephone', 'fax', 'email', 'mrt', 'bus', 'GeneralInformation', 'SubjectOffered', 'Cca', 'SpecialProgrammes', 'location', 'awards', 'awards_map', 'Vacancy', 'level'])

In [19]:
json.dump(data, open("../data/school-info-v4.json", "w"))